body{
  background-color: #FFFFFF;
  background-image:url("../images/pingbackground.jpg");
  color: black;

}


.pingheader{
  text-align: 30px;
  color: black;
}


.editping{
padding-left:30px;
background-color: lightgrey;
margin: 220px;
margin-left: 480px;
margin-right: 380px;


}
#Results{
  color: black;
}
