body{
  background-color: #FFFFFF;
  background-image:url("../images/pingbackground.jpg");
  color: white;

}


.pingheader{
  text-align: 30px;
  color: white;
}


.editping{
padding-left:250px;

}
#Results{
  color: white;
}
